body{
    background-color: #690027;
    
}

.info{
    position: relative;
    float: left;
}

.info .info-into{
    position: absolute;
    display: none;
    background:#fff;
    color:#690027;
    font-weight: bold;
    padding: 5px 10px;    
    box-shadow: 0 2.5px 5px #000;
    border-radius: 0 10px 0 10px;
    top: 35px;
    
}

.info:hover .info-into{
    display: block;
}



#myModal{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    z-index: 1;
}

#myModal2{
    position: relative;
    width: 50%;    
    top: 35%;
    left: 25%;
    background:#fff;
    color: red;
    font-size: 18px;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 20px #000;
}

#myModal3{
    position: relative;
    width: 1%;
    background:#aa0;
}

.tabela td{
    padding: 3px 5px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

th{
    background:#eee;
}

h1,h2,h3,h4,h5{
    color: #690027;
}

.link{
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
}

.menu{
    background:#ddd;
    width: 98%;
    padding: 1%;
    margin: 10px 0;
    border-radius: 10px;
}

.btn-danger{
    background:#690027;
    border-color: #690027;
}

.btn-danger:hover{
    background: #8a1138;

}

.topo{
    background: #eee;
    width: 100%;
    position: static;
    height: 150px;
    padding: 10px 0;
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.9);  
    z-index: +1;
}

.topo .container{
    background: #eee;
}

section{
    margin: 20px 0;
    
}

section .container{
    background: #fff;
    height: 100%;
    border-radius: 10px;
}

.topo .glyphicon{
    color: #690027;
    font-size: 40px;
    margin: 25px 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.topo .glyphicon:hover{
    box-shadow: 1px 1px 5px #aaa;
}

@media only screen and (max-width: 574px){
    .menu .btn-danger{
        display: block;
        width: 98%;
        margin: 5px 1%;
     }

     h2{
        font-size:5vw;
    }
}

@media only screen and (max-width: 480px){    

    .topo .glyphicon{
        font-size: 30px;
        padding: 10px;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 767px){
    section .container{
        border-radius: 0;
    }
}